<!DOCTYPE html>
<html>
  <head>
    <title>GraphqlDeferExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/react-bootstrap-typeahead/css/Typeahead.css">
    <link rel="stylesheet" href="https://unpkg.com/react-bootstrap-typeahead/css/Typeahead-bs4.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
